.pixmagix {
	box-sizing: border-box;
	* {
		box-sizing: border-box;
		color: $editor-color;
		&::-webkit-scrollbar {
			width: $scrollbar-width;
			overflow: hidden;
		}
		&::-webkit-scrollbar-track {
			border-radius: $scrollbar-width / 2;
			box-shadow: $track-shadow;
		}
		&::-webkit-scrollbar-thumb {
			background: $editor-bg-light;
			border-radius: $scrollbar-width / 2;
		}
	}
	&-notification {
		position: fixed;
		right: $padding;
		bottom: $padding;
		padding: $notification-padding;
		background-color: $editor-bg;
		border-radius: $border-radius;
		box-shadow: $modal-shadow;
		animation-name: notification;
		animation-duration: $transition-hover-in;
		animation-fill-mode: forwards;
		z-index: 999999;
		&__success {
			background: $notification-success-bg;
		}
		&__warning {
			background: $notification-warning-bg;
		}
		&__error {
			background: $notification-error-bg;
		}
		p {
			margin: 0;
			padding: 0;
			pointer-events: none;
		}
	}
}
