.pixmagix-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: $padding;
	&__title {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		h1 {
			margin: 0;
			font-size: $h1-font-size;
			pointer-events: none;
		}
	}
	.pixmagix-button {
		margin-right: $margin;
	}
}
