.pixmagix-sidebarright {
	position: relative;
	z-index: 99;
	&__toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		left: -$sidebar-toggle-width;
		width: $sidebar-toggle-width;
		height: $sidebar-toggle-height;
		transform: translateY(-50%);
		background-color: $editor-bg;
		border-top-left-radius: $border-radius;
		border-bottom-left-radius: $border-radius;
		cursor: pointer;
	}
	&__inner {
		width: $sidebar-width;
		height: 100%;
		padding-left: $padding-sm;
		overflow: hidden auto;
	}
	&__layerlist {
		list-style: none;
		margin: 0;
		padding: 0;
		max-height: $layer-list-height;
		overflow: hidden auto;
	}
	&__layeritem {
		list-style: none;
		margin: 0;
		margin-bottom: $label-margin;
		.pixmagix-input-wrapper {
			margin: 0;
		}
	}
	&__layeractions {
		.pixmagix-button {
			padding: $button-padding-tn;
		}
	}
}
