.pixmagix-sidebarleft {
	position: relative;
	z-index: 99;
	&__toggle {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		right: -$sidebar-toggle-width;
		width: $sidebar-toggle-width;
		height: $sidebar-toggle-height;
		transform: translateY(-50%);
		background-color: $editor-bg;
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		cursor: pointer;
	}
	&__inner {
		width: $sidebar-width;
		height: 100%;
		padding-left: $padding-sm;
		padding-right: $padding-sm;
		overflow: hidden auto;
	}
}
