#wp-admin-bar-pixmagix > .ab-item {
	position: relative;
}

#wp-admin-bar-pixmagix > .ab-item:before {
	content: "";
	background-size: contain;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	margin-top: 2px;
}

#wp-admin-bar-pixmagix > .ab-item:after {
	position: absolute;
	display: inline-block;
	width: 6px;
	height: 6px;
	top: 6px;
	right: 2px;
	background-color: #228B22;
	border-radius: 100%;
}

#adminmenu #toplevel_page_pixmagix .wp-menu-image img {
	width: 28px;
	padding: 4px 0 0;
}

.wp-list-table.fixed .column-pixmagix {
	width: 3em;
}

.wp-list-table.fixed .column-pixmagix__icon {
	display: block;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
}

.wp-list-table.fixed .column-pixmagix__restore,
.wp-list-table.fixed .column-pixmagix__restore:hover,
.wp-list-table.fixed .column-pixmagix__restore:focus,
.wp-list-table.fixed .column-pixmagix__restore:active {
	border: none;
	outline: none;
	width: 12px;
	height: 12px;
	background-color: #228B22;
	border-radius: 100%;
	cursor: pointer;
}

.wp-list-table.fixed .column-pixmagix__spinner {
	width: 14px;
	height: 14px;
	visibility: visible;
	float: initial;
	background-size: 14px 14px;
	margin: 0;
}
