@import "./styles/variables";
@import "./styles/wpadmin";
@import "./styles/animation";
@import "./styles/elements";
@import "./styles/editor";
@import "./styles/header";
@import "./styles/pages";
@import "./styles/responsive";

.pixmagix-fonts {
	&-preview {
		.pixmagix-grid__item-figure {
			padding: $padding-sm;
		}
		a {
			text-decoration: none;
		}
		p {
			margin: 0;
		}
	}
	&-selected-list {
		.pixmagix-repeater__content {
			p {
				margin: 0;
				font-size: $h1-font-size;
			}
		}
	}
}
